.TodoList {
  @include flexbox-vrt(10px);
  padding: $padding-gen;

  .todo {
    width: 80%;
    padding: $padding-sm;
    background-color: lightblue;
    border: 1px solid gray;
    border-radius: $border-radius-2;
    text-align: center;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    position: relative;

    &.completed {
      text-decoration: line-through;
    }

    &:hover {
      background-color: #41646f;
      color: white;
    }

    .todoText {
      padding-right: 50px;
    }

    .todoDelete {
      width: 50px;
      position: absolute;
      right: 0;
      top: 0;
      padding: $padding-sm;
      @extend %center-content;
      transition: transform 0.35s;

      &:hover {
        transform: scale(1.5);
      }
    }
  }

  .addTodo {
    input {
      padding: $padding-sm;
      border-radius: $border-radius-2;
      border: 1px solid gray;
    }
  }
}
