.Login {
  width: 100%;
  height: calc(100vh - 75px);
  @include flexbox-vrt(0px);

  .title {
    font-family: Handlee, cursive;
  }

  .loginForm {
    @include flexbox-vrt(10px);
    width: 100%;
    height: 100px;
    padding: $padding-gen;

    .textInput {
      width: 80%;
      padding: $padding-md;
      border-radius: $border-radius-2;
      border: 1px solid gray;
    }

    .submitInput {
      width: 50%;
      padding: $padding-md;
      border-radius: $border-radius-2;
      border: 1px solid gray;
    }
  }
}
