.title {
  width: 100%;
  font-family: Handlee, cursive;
  padding: $padding-sm;
}

.placeholder {
  height: 100%;
  font-size: 1.5rem;
  @extend %center-content;
}

.arrow {
  position: absolute;
  bottom: 70px;
  right: 65px;
  width: 65px;
  height: 65px;
  color: tomato;

  svg {
    width: 100%;
    height: 100%;
  }
}
